  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


@model Usuario
<div class="text-center">
  <h1>Welcome </h1>
  <h1>

</h1>
<div class="forms">
  <div class="block1">


<h1>Registration</h1>
@await Html.PartialAsync("_UserForm")
  </div>

<div class="block2">

<h1>Login</h1>
@await Html.PartialAsync("_Login")
</div>


</div>
  

</div>
