<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<body>

    <!-- Barra de Navegación -->
    <nav>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- Contenido de la Página -->
    <div class="container">
        <h1>SUCCESS!</h1>
    </div>

</body>